<h1 class="text-center my-4">Appointments</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>Date</th>
          <th>Pet name</th>
          <th>Vet name</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
            <td><%= link_to appointment.date.strftime("%B %d, %Y"), appointment_path(appointment) %></td>
            <td><%= link_to appointment.pet.name, pet_path(appointment.pet) %></td>
            <td><%= link_to "#{appointment.vet.first_name} #{appointment.vet.last_name}", vet_path(appointment.vet) %></td>
            <td><%= appointment.reason %></td>
            <td><%= ["Scheduled", "Completed", "Cancelled", "In progress"][appointment.status] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>